#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <16 15>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans          &kp Q  &kp W      &kp E         &kp R             &kp T  &kp Y          &kp U      &kp I      &kp O       &kp P      &kp SLASH
&lt 2 TAB       &kp A  &kp S      &kp D         &kp F             &kp G  &kp H          &kp J      &kp K      &kp L       &kp COLON  &kp ENTER
&kp LEFT_SHIFT  &kp Z  &kp X      &kp C         &kp V             &kp B  &kp N          &kp M      &kp COMMA  &kp PERIOD  &kp MINUS  &kp RSHIFT
&trans          &trans &kp LCTRL  &kp LEFT_ALT  &kp LEFT_COMMAND  &mo 1  &kp BACKSPACE  &kp SPACE             &trans      &trans     &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp N1     &kp N2        &kp N3               &kp N4     &kp N5     &kp N6          &kp N7          &kp N8    &kp N9  &kp N0     &trans
&trans  &trans     &kp GRAVE     &kp MINUS            &kp EQUAL  &kp BSLH   &kp LEFT        &kp DOWN        &kp UP    &kp RIGHT  &trans  &trans
&trans  &trans     &kp SEMICOLON &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp APOSTROPHE &kp LEFT_BRACKET &kp RIGHT_BRACKET &trans &trans &trans &trans
&trans  &trans     &trans        &trans               &trans     &trans     &trans          &trans                    &trans  &trans     &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans           &trans           &trans           &trans           &lg(LS(N5))  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans           &lc(SEMICOLON)   &kp LANG2        &kp LANG1        &trans       &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans           &trans           &trans           &trans           &trans       &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans           &trans                            &trans           &trans       &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans
            >;
        };
    };
};
